body {font-family: 'Playfair Display', serif; 
color: #999999;
font-size: 14px;
line-height:24px}

.site-navigation {
    font-size: 14px;
    list-style: none;
}
.site-navigation a {
    color: #989898;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;


}

.site-navigation a:hover {

    color: #03a9f4;
}

.world a {
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 24px;
    
    

}

.lifestyle-list{
    list-style: none;
}

.lifestyle-list-item .lifestyle-list-name {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #989898;
    line-height: 17px;
    text-transform: uppercase;
}
.lifestyle-list-item .lifestyle-list-topic {
    color: #989898;
    line-height: 36px;
    font-size:30px;  
}
.lifestyle-list-item .lifestyle-list-text {
    color: #989898;
    line-height: 24px;
    font-size:14px;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}